### Note: at present, MathJax and KaTeX do not respect the USE_CDN configuration option
<%def name="math_scripts()">
 <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</%def>

<%def name="math_styles()">
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</%def>

<%def name="math_scripts_ifpost(post)">
</%def>

<%def name="math_scripts_ifposts(posts)">
</%def>

<%def name="math_styles_ifpost(post)">
</%def>

<%def name="math_styles_ifposts(posts)">
</%def>
