<div class="fixed inset-x-0 top-0 -z-10">
  {{ $homepageImage := "" }}
  {{ with .Site.Params.homepage.homepageImage }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $homepageImage = resources.GetRemote . }}
    {{ else }}
      {{ $homepageImage = resources.Get . }}
    {{ end }}
  {{ end }}
  {{ if $homepageImage }}
    <img
      id="background-image"
      class="nozoom m-0 h-[1000px] w-full object-cover"
      src="{{ $homepageImage.RelPermalink }}"
      role="presentation">
    <div class="from-neutral absolute inset-0 h-[1000px] bg-gradient-to-t to-transparent mix-blend-normal dark:from-neutral-800"></div>
    <div class="from-neutral absolute inset-0 h-[1000px] bg-gradient-to-t to-neutral-100 opacity-60 mix-blend-normal dark:from-neutral-800 dark:to-neutral-800"></div>
  {{ end }}
</div>

<article class="prose dark:prose-invert max-w-full">
  {{ with .Title }}
    <header>
      <h1>{{ . | emojify }}</h1>
    </header>
  {{ end }}
  <section class="w-full">{{ .Content }}</section>
</article>
<section>
  {{ partial "recent-articles/main.html" . }}
</section>
